HomePage.module.css

/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para cada sección con altura en 100vh, paleta de colores sobria y efecto de despegue */
  .howItWorks {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F4F4F4, #E0E0E0);
    color: #333333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .publicOpinion {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #E8E8E8, #D0D0D0);
    color: #333333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .Categories {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #D4D4D4, #C0C0C0);
    color: #333333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .Categories h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    margin-bottom: 250px;
  }
  .serviceOffers {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #C8C8C8, #B0B0B0);
    color: #333333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .categoryLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .logo {
    max-width: 100px;
    height: auto;
  }

  .categoryLabels {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
  }

  .categoryLabels p {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }

  .categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .categoryItem p {
    margin-top: 10px;
  }

  .howItWorks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
  
  .howItWorksHeader {
    text-align: left;
    margin-bottom: 200px;
  }
  
  .howItWorksTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .howItWorksText {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .instructionUser {
    margin-top: 15px;
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .instructionSupplier {
    margin-top: 20px;
    margin-right: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .instructionList {
    list-style: none;
    padding-left: 0;
  }
  