.containerGallery .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.containerGallery .gallery .column {
  background-color: var(--principal-color);
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.containerGallery .gallery .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  transition: all 0.3s ease;
}

.containerGallery .gallery .column img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.containerGallery .overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease;
  visibility: hidden;
  opacity: 0;
}

.containerGallery .overlay .slideshow {
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  position: relative;
  display: flex;
  justify-content: center;
}

.containerGallery .overlay .slideshow img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.containerGallery .overlay .slideshow .btnClose {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 35px;
  background-color: rebeccapurple;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: all 0.2s ease;
}

.containerGallery .overlay .slideshow .btnClose:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.containerGallery .overlay .slideshow .button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rebeccapurple;
}

.containerGallery .overlay .slideshow .button:hover > span {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.previous {
  left: 20px;
}

.next {
  right: 20px;
}

/* Tablets */
@media screen and (max-width: 800px) {
  .containerGallery .gallery .column {
    flex: 50%;
    max-width: 50%;
  }
  .containerGallery .overlay .slideshow .button {
    font-size: 55px;
  }
  .previous {
    left: 5px;
  }
  .next {
    right: 5px;
  }
  .containerGallery .overlay .slideshow img {
    width: 98%;
  }
}

/* Moviles */
@media screen and (max-width: 600px) {
  .containerGallery .gallery .column {
    flex: 100%;
    max-width: 100%;
  }
}

