h1 forma sube image 

div 
     form(action="/upload",method="POST", enctype="multipart/form-data")
     label Imagen 
     input(type="file", name ="imagen")
     input(type="submit", value = "Enviar") 